.playing-area{
    width:100%;
    /* height:190px; */
    margin:auto;
    margin-top:25px;
    text-align:center;
    border: 1px solid black;
}

.drawn-cards-container{
    margin:25px;
    height:190px;
}

.game-info{
    border: 2px solid purple;
    width: 200px;
    order:2
}

.game-container{
    justify-content: space-between;
}

.game-container-main{
    width:80%
}

.board-buttons{
    margin-top:50px
}